@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
.carousel-setup {
    height:600px;
}

.starwars-logo {
    width: 100%;
}

.available-text {
    font-family: 'Lato', sans-serif;
    font-size:32px;
}