@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.text-area {
    height: 170px;
    margin-top:50px;
    margin-bottom:50px;
}



.contact {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
}

.form-control {
    margin-top: 50px;
}

.button-class {
    width: 50%;
}
