@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');


.covid-text {
    font-size: 18px;
    text-align: center;
    padding-left: 270px;
    padding-right: 270px;
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    padding-bottom:50px
  

}

.covid-title {
text-align: center;
padding-top: 40px;
font-size: 32px;
font-family: 'Lato', sans-serif;
}


