@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.footer-base {
    height: 400px;
    background: black;
    color: white;
    text-align: left;
    padding-left:12%;
    padding-right:12%;
    font-family: 'Lato', sans-serif;
    font-size:14px;
}

.footer-titles {
   
    background: black;
    color: white;
    text-align: left;
    padding-top:60px;
    padding-left:12%;
    padding-right:12%;
    font-family: 'Lato', sans-serif;
    padding-top:60px;
    font-size: 20px;
}

.icons {
    width: 500px;
   
}

.fa-twitter {
    width: 200px;
}