@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.nav-basic {
    background: black;
    height: 100px;
    font-family: 'Lato', sans-serif;
  
}

.disneylogo {
    width: 25%;
    padding-top: 10px;

}

.nav-link {
    color: white;
}