@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.trailer-text {
    padding-top: 206px;
    font-family: 'Lato', sans-serif;
    font-size: 32px;
}

.face-image {
    width: 100%;
}

.trailer-title {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    text-align: left;
    padding-left:15%;
    padding-right: 15%;
    line-height: 30px;

}